@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #ABB2BF;
  --background-start-rgb: #4A634D;
  --background-end-rgb: #4A634D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ABB2BF;
     --background-start-rgb: #4A634D;
    --background-end-rgb: #4A634D;
  }
}

body {
  color: #ABB2BF;
  background: linear-gradient(
      to bottom,
      transparent,
      #4A634D
    )
    #192019;
}

.horizontal-line{
  height: 10vh;
  width: 2px;
  background-color: var(--foreground-rgb);
}